<div id="nav-show">
    <a class="filterTabAll" ng-class="{'current_page_item': !$ctrl.timeFilterPeriod}" ng-click="$ctrl.setTimeFilterPeriod(null)">{{'ALL_TIME' | translate}}</a>
    <a class="filterTabOne" ng-class="{'current_page_item': $ctrl.timeFilterPeriod==1}" ng-click="$ctrl.setTimeFilterPeriod(1)">{{'THIS_YEAR' | translate}}</a>
    <a class="filterTabTwo" ng-class="{'current_page_item': $ctrl.timeFilterPeriod==2}" ng-click="$ctrl.setTimeFilterPeriod(2)">{{'THIS_QUARTER' | translate}}</a>
    <a class="filterTabThree" ng-class="{'current_page_item': $ctrl.timeFilterPeriod==3}" ng-click="$ctrl.setTimeFilterPeriod(3)">{{'THIS_MONTH' | translate}}</a>
    <a class="filterTabFour" ng-class="{'current_page_item': $ctrl.timeFilterPeriod==4}" ng-click="$ctrl.setTimeFilterPeriod(4)">{{'THIS_WEEK' | translate}}</a>
    <div id="magic-line"></div>
</div>