
<div class="editorPanelCreateTask" ng-hide="toggleActvTask()" ng-controller="modalFormTarefaController">
    <h2>NEW TASK</h2><span style="top:-30px;" class="closeModal" id="toggleFilterActvTask" ng-click="toggleFilterActvTask();"><md-icon class="closeIcon" md-svg-src="{{pathImage}}close.svg"></md-icon></span>
    <div class="colLeft">
        <div class="formEditor">
            <input type="text" placeholder="Subject" ng-model="tarefa.title" />
            <textarea placeholder="Description" ng-model="tarefa.content"></textarea>
            <div class="statusList" ng-controller="dropdownController">
                <div dropdown-select="ddSelectOptionsStatus" dropdown-model="ddSelectSelectedStatus" dropdown-item-label="text"></div>
            </div>
        </div>
        <div class="relatedOrganizations" ng-controller="chipsSelector">
            <h3>Related Organizations</h3>
            <md-chips-select ng-model="selectedOrganizations" select-items="organizationsList" main-title="organization"></md-chips-select>
        </div>
        <div class="relatedContacts" ng-controller="chipsSelector">
            <h3>Related Contacts</h3>
            <md-chips-select ng-model="selectedContacts" select-items="contactsList" main-title="contact"></md-chips-select>
        </div>
        <div class="statusList" ng-controller="dropdownController">
            <div dropdown-select="ddSelectOptionsContact" dropdown-model="ddSelectSelectedContact" dropdown-item-label="text"></div>
        </div>
    </div>
    <div class="colRight">
        <p class="highChk">
            High importance
            <md-checkbox ng-model="tarefa.highimportant" aria-label="Checkbox 1"></md-checkbox>
        </p>
        <div class="dateField" ng-controller="dateController">
            <md-datepicker ng-model="tarefa.deadline" md-placeholder="Deadline"></md-datepicker>
        </div>
        <div class="dateField" ng-controller="dateController">
            <md-datepicker ng-model="myComplete" md-placeholder="Complete date"></md-datepicker>
        </div>
        <div class="relatedContacts" ng-controller="chipsSelector">
            <h3>Involved</h3>
            <md-chips-select ng-model="selectedContacts" select-items="contactsList" main-title="contact"></md-chips-select>
        </div>
        <div class="statusList" ng-controller="dropdownController">
            <div dropdown-select="ddSelectOptionsAssign" dropdown-model="ddSelectSelectedAssign" dropdown-item-label="text"></div>
        </div>
        <div class="attached" ng-controller="fileControllerTask">
            <div class="fileinput" id="attachedTask">
                <h3>Attach document</h3>
                <input type="file" name="file[]" id="file" class="inputfile inputfileTask" data-multiple-caption="{count} files selected" multiple />
                <label for="file">
                    <span class="labelValTask"></span>
                    <strong>Attach</strong>
                </label>
            </div>
            <div class="itemAttached">
                <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
            </div>
            <div class="itemAttached">
                <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs-new.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
            </div>
        </div>
    </div>
    <div class="saveBlock">
        <span>Creation date: 02/02/2017</span>
        <button class="btnCancel" id="toggleFilterActvTask" ng-click="toggleFilterActvTask()" type='button'>CANCEL</button>
        <button class="btnSave" type='button' ng-click="salvarTarefa($event)">SAVE</button>
    </div>
</div>