<div class="dashboardContent home" ng-cloak>
    <h1>GOALS</h1>
    <div class="fabButtonDial" ng-controller="dialController as dialPlus">
        <md-fab-speed-dial md-open="dialPlus.isOpen" md-direction="{{dialPlus.selectedDirection}}" ng-class="dialPlus.selectedMode">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab add">
                    <md-icon md-svg-src="{{pathImage}}add.svg"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                  <span class="toggleActiv">
                        <md-button id="toggleFilterActvActiv" ng-click="toggleFilterActvActiv();$event.stopPropagation();" aria-label="Create Activities" class="md-fab md-raised md-mini green">
                              <md-icon md-svg-src="{{pathImage}}edit-document.svg" aria-label="Icon Activities"></md-icon>
                        </md-button>
                        <span class="ng-tooltip-bt">New Activities</span>
                  </span>
                  <span class="toggleTask">
                        <md-button id="toggleFilterActvTask" ng-click="toggleFilterActvTask();$event.stopPropagation();" aria-label="Create Task" class="md-fab md-raised md-mini cyan">
                              <md-icon md-svg-src="{{pathImage}}create-task.svg" aria-label="Icon Task"></md-icon>
                        </md-button>
                        <span class="ng-tooltip-bt">New Task</span>
                  </span>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>

    <div ng-include src="'partials/formTarefa.html'"></div>
    <div ng-include src="'partials/formAtividade.html'"></div>
    <div class="clearSeparate"></div>
    <div class="goalsResult" ng-controller="DoughnutCtrl">
        <div class="contentList" ng-scrollbars ng-scrollbars-config="config">
            <ul class="listResult" ng-repeat="goal in datainfo">
                <li>
                    <h3 class="title">{{ goal.title }}</h3>
                    <div class="graphResult">
                        <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-options="options" width="166" height="166"></canvas>
                        <div class="numberTasks">
                            <h2>{{ goal.valueProcess + goal.valueCompleted + goal.valueReady }}</h2>
                            <span>TASKS</span>
                        </div>
                    </div>
                    <div class="valuesResult">
                        <div class="process">
                            <p><span class="color"></span>Tasks in process</p>
                            <h3>{{ goal.valueProcess }} - {{ goal.percentProcess }}%</h3>
                        </div>
                        <div class="tasks">
                            <p><span class="color"></span>Tasks Completed</p>
                            <h3>{{ goal.valueCompleted }} - {{ goal.percentCompleted }}%</h3>
                        </div>
                        <div class="ready">
                            <p><span class="color"></span>Tasks ready to start</p>
                            <h3>{{ goal.valueReady }} - {{ goal.percentReady }}%</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
