<div class="dashboardContent manager" ng-controller="managersController">
      <div class="sidebarDashboard" ng-controller="sidebarManager">
            <h1>APPROACHING DEADLINE TASKS</h1>
            <!-- <ul class="filterTasks">
                  <li class="active"><a class="red" href="#">red</a></li>
                  <li><a class="orange" href="#">orange</a></li>
                  <li><a class="yellow" href="#">yellow</a></li>
                  <li><a class="green" href="#">green</a></li>
            </ul> -->
            <div class="latestActivities" ng-scrollbars ng-scrollbars-config="config">
                  <ul class="listActivities" ng-repeat="task in deadline">
                        <li class="oneLevel {{ task.deadlinestatus }}">
                              <div class="icon-activities">
                                    <h1>{{ task.taskid }}</h1>
                              </div>
                              <ul class="dashedUl">
                                    <li>
                                          <h3>{{ task.title }}</h3>
                                    </li>
                                    <li>{{ task.optionone }}</li>
                                    <li>{{ task.optiontwo }}</li>
                                    <li>{{ task.optionthree }}</li>
                              </ul>
                        </li>
                  </ul>
            </div>
      </div>
      <div class="contentDashboard">
            <h1>CATEGORIES OF ORGANIZATIONS</h1>
            <ul ng-init="selectedTab = 'year'" class="filterPeriod" layout-align="center center">
                  <li ng-class="{'active':selectedTab === 'year'}" ng-click="selectedTab = 'year'"><a href="#">this year</a></li>
                  <li ng-class="{'active':selectedTab === 'quarter'}" ng-click="selectedTab = 'quarter'"><a href="#">this quarter</a></li>
                  <li ng-class="{'active':selectedTab === 'month'}" ng-click="selectedTab = 'month'"><a href="#">this month</a></li>
                  <li ng-class="{'active':selectedTab === 'week'}" ng-click="selectedTab = 'week'"><a href="#">this week</a></li>
            </ul>
            <div class="fabButtonDial" ng-controller="dialController as dialPlus" ng-cloak>
                  <md-fab-speed-dial md-open="dialPlus.isOpen" md-direction="{{dialPlus.selectedDirection}}" ng-class="dialPlus.selectedMode">
                        <md-fab-trigger>
                              <md-button aria-label="menu" class="md-fab add">
                                    <md-icon md-svg-src="{{pathImage}}add.svg"></md-icon>
                              </md-button>
                        </md-fab-trigger>

                        <md-fab-actions>
                              <md-button id="toggleFilterManagerTask" ng-click="toggleFilterManagerTask();$event.stopPropagation();" aria-label="Create Activities" class="md-fab md-raised md-mini green">
                                    <md-icon md-svg-src="{{pathImage}}edit-document.svg" aria-label="Icon Activities"></md-icon>
                              </md-button>
                              <md-button id="toggleFilterManagerActiv" ng-click="toggleFilterManagerActiv();$event.stopPropagation();" aria-label="Create Task" class="md-fab md-raised md-mini cyan">
                                    <md-icon md-svg-src="{{pathImage}}create-task.svg" aria-label="Icon Task"></md-icon>
                              </md-button>
                        </md-fab-actions>
                  </md-fab-speed-dial>
            </div>
            <div class="editorPanelCreateTask" ng-hide="toggleManagerTask" ng-cloak>
                  <h2>NEW TASK</h2><span class="closeModal" id="toggleCloseManagerTask" ng-click="toggleCloseManagerTask();"><md-icon class="closeIcon" md-svg-src="{{pathImage}}close.svg"></md-icon></span>
                  <div class="colLeft">
                        <div class="formEditor">
                              <input type="text" placeholder="Subject" ng-model="titletask" />
                              <textarea placeholder="Description" ng-model="content"></textarea>
                              <div class="statusList" ng-controller="dropdownController">
                                    <div dropdown-select="ddSelectOptionsStatus" dropdown-model="ddSelectSelectedStatus" dropdown-item-label="text" ng-model="status"></div>
                              </div>
                        </div>
                        <div class="relatedOrganizations" ng-controller="chipsSelector">
                              <h3>Related Organizations</h3>
                              <md-chips-select ng-model="selectedOrganizations" select-items="organizationsList" main-title="organization" ng-model="relatedorganiz"></md-chips-select>
                        </div>
                        <div class="relatedContacts" ng-controller="chipsSelector">
                              <h3>Related Contacts</h3>
                              <md-chips-select ng-model="selectedContacts" select-items="contactsList" main-title="contact" ng-model="relatedcontact"></md-chips-select>
                        </div>
                        <div class="statusList" ng-controller="dropdownController">
                              <div dropdown-select="ddSelectOptionsCreatedBy" dropdown-model="ddSelectSelectedCreatedBy" dropdown-item-label="text" ng-model="createdby"></div>
                        </div>
                  </div>
                  <div class="colRight">
                        <p class="highChk">High importance
                              <md-checkbox ng-model="highchk" aria-label="Checkbox 1" ng-model="highimportant"></md-checkbox>
                        </p>
                        <div class="dateField" ng-controller="dateController">
                              <md-datepicker ng-model="myDeadline" md-placeholder="Deadline" ng-model="deadlineyear"></md-datepicker>
                        </div>
                        <div class="dateField" ng-controller="dateController">
                              <md-datepicker ng-model="myComplete" md-placeholder="Complete date" ng-model="deadlinemonth"></md-datepicker>
                        </div>
                        <div class="relatedContacts" ng-controller="chipsSelector">
                              <h3>Involved</h3>
                              <md-chips-select ng-model="selectedContacts" select-items="contactsList" main-title="contact" ng-model="deadlinemonth"></md-chips-select>
                        </div>
                        <div class="statusList" ng-controller="dropdownController">
                              <div dropdown-select="ddSelectOptionsAssign" dropdown-model="ddSelectSelectedAssign" dropdown-item-label="text"></div>
                        </div>
                        <div class="attached" ng-controller="fileControllerTask">
                              <div class="fileinput">
                                    <h3>Attach document</h3>
                                    <input type="file" name="file[]" id="file" class="inputfile inputfileTask" data-multiple-caption="{count} files selected" multiple />
                                    <label for="file">
                                          <span class="labelValTask"></span>
                                          <strong>Attach</strong>
                                    </label>
                              </div>
                              <div class="itemAttached">
                                    <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
                              </div>
                              <div class="itemAttached">
                                    <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs-new.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
                              </div>
                        </div>
                  </div>
                  <div class="saveBlock">
                        <strong>Creation date: <span>08/02/2017</span></strong>
                        <button class="btnCancel" id="toggleFilterManagerTask" ng-click="toggleFilterManagerTask();" type='button'>CANCEL</button>
                        <button class="btnSave" type='button' ng-click="toggleFilterManagerTask();showAlert($event);">SAVE</button>
                  </div>
            </div>
            <div class="editorPanelCreateActiv" ng-hide="toggleManagerActiv" ng-cloak>
                  <h2>NEW ACTIVITY</h2><span class="closeModal" id="toggleCloseManagerActiv" ng-click="toggleCloseManagerActiv()"><md-icon class="closeIcon" md-svg-src="{{pathImage}}close.svg"></md-icon></span>
                  <div class="colLeft">
                        <div class="formEditor">
                              <div class="statusList one" ng-controller="dropdownController">
                                    <div dropdown-select="ddSelectOptionsType" dropdown-model="ddSelectSelectedType" dropdown-item-label="text"></div>
                              </div>
                              <h3>Related task</h3>
                              <p><a href="#">Lorem ipsum content link</a></p>
                              <button class="btnDefault" type='button' ng-click='change()'>Change</button>
                              <button class="btnDefault" type='button' ng-click='connect()'>Connect to task</button>

                              <div class="statusList" ng-controller="dropdownController">
                                    <div dropdown-select="ddSelectOptionsContact" dropdown-model="ddSelectSelectedContact" dropdown-item-label="text"></div>
                              </div>
                              <div class="statusList" ng-controller="dropdownController">
                                    <div dropdown-select="ddSelectOptionsDone" dropdown-model="ddSelectSelectedDone" dropdown-item-label="text"></div>
                              </div>
                              <input type="text" placeholder="Subject" />
                              <textarea placeholder="Description"></textarea>
                        </div>
                  </div>
                  <div class="colRight">
                        <div class="relatedContacts" ng-controller="chipsSelector">
                              <h3>Share with</h3>
                              <md-chips-select ng-model="selectedContacts" select-items="contactsList" main-title="contact"></md-chips-select>
                        </div>
                        <div class="dateField" ng-controller="dateController">
                              <md-datepicker ng-model="myDeadline" md-placeholder="Deadline"></md-datepicker>
                        </div>
                        <div class="statusList" ng-controller="dropdownController">
                              <div dropdown-select="ddSelectOptionsCreatedBy" dropdown-model="ddSelectSelectedCreatedBy" dropdown-item-label="text"></div>
                        </div>
                        <div class="attached" ng-controller="fileControllerActiv">
                              <div class="fileinput">
                                    <h3>Attach document</h3>
                                    <input type="file" name="file[]" id="file" class="inputfile inputfileTask" data-multiple-caption="{count} files selected" multiple />
                                    <label for="file">
                                          <span class="labelValTask"></span>
                                          <strong>Attach</strong>
                                    </label>
                              </div>
                              <div class="itemAttached">
                                    <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
                              </div>
                              <div class="itemAttached">
                                    <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs-new.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
                              </div>
                        </div>
                  </div>
                  <div class="saveBlock">
                        <strong>Creation date: <span>08/02/2017</span></strong>
                        <button class="btnCancel" id="toggleFilterManagerActiv" ng-click="toggleFilterManagerActiv()" type='button'>CANCEL</button>
                        <button class="btnSave" type='button' ng-click="toggleFilterManagerActiv();showAlert($event);">SAVE</button>
                  </div>
            </div>
            <div class="clearSeparate"></div>
            <div class="activitiesResult" ng-controller="categoriesOrganizations">
                  <div class="contentList" ng-scrollbars ng-scrollbars-config="config">
                        <ul class="listResult" ng-repeat="entities in organizations">
                              <li>
                                    <h3 class="title">
                                          {{ entities.categorie }}
                                    </h3>
                                    <div class="statsResult">
                                          <div class="imageEntitie">
                                                <img src="{{pathImage}}{{ entities.categoryimage }}.png" />
                                          </div>
                                          <div class="leftEntity">
                                                <p><span class="color red"></span>Tasks Comp: <strong>{{ entities.taskcomp }}%</strong></p>
                                                <p><span class="color green"></span>Activities: <strong>{{ entities.activities }}</p>
                                                <p><span class="color blue"></span>Tasks Comp: <strong>{{ entities.taskcomp }}%</strong></p>
                                          </div>
                                    </div>
                                    <div class="legend">
                                          <span><img src="{{pathImage}}influency.png" /> Influencing</span><span><img src="{{pathImage}}influencyby.png" /> Influencing by</span>
                                    </div>
                              </li>
                        </ul>
                  </div>
            </div>
      </div>
</div>
