<ul class="navMenu">
      <li ng-class="{active: activetab=='/'}"><a class="home" href="home">HOME</a></li>
      <li ng-class="{active: activetab=='/ceo-dashboard'}"><a href="ceo-dashboard">CEO DASHBOARD</a></li>
      <li ng-class="{active: activetab=='/managers-dashboard'}"><a href="managers-dashboard">MANAGER´S DASHBOARD</a></li>
      <li ng-class="{active: activetab=='/tasks'}"><a href="tasks">TASKS</a></li>
      <li ng-class="{active: activetab=='/activities'}"><a href="activities">ACTIVITIES</a></li>
      <li ng-class="{active: activetab=='/organizations'}"><a href="organizations">ORGANIZATIONS</a></li>
      <li ng-class="{active: activetab=='/contacts'}"><a href="contacts">CONTACTS</a></li>
</ul>
