<div class="dashboardContent categories" ng-cloak>
    <h1>{{'CATEGORIES' | translate}}</h1>
    <div class="blockFilters">
        <form class="formSearch">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="search">
                    <md-icon md-svg-src="/images/magnify.svg"></md-icon>
                </div>
            </div>
        </form>
        <dial-control/>
    </div>
    <activity-form></activity-form>
    <task-form></task-form>
      <div class="editorPanel" ng-show="editedOrganizationCategory!=null">
          <span class="closeModal" id="toggleFilterCatEdit" ng-click="closeEditor()"><md-icon class="closeIcon" md-svg-src="/images/close.svg"></md-icon></span>
            <div class="colLeft" style="height: 470px;">
                  <div class="formEditor" ng-scrollbars ng-scrollbars-config="config">
                        <input type="text" placeholder="{{'NAME' | translate}}" ng-model="editedOrganizationCategory.name"/>
                      <div class="statusList">
                          <h3>{{'ORGANIZATION' | translate}}</h3>
                          <div dropdown-select dropdown-url="/api/Organizations" dropdown-value="editedOrganizationCategory.id" dropdown-item-label="name"></div>
                      </div>
                      <div class="photoBrands">
                              <h3>{{'LOGO' | translate}}</h3>
                              <div class="photo">
                                    <span class="brandImage">
                                          <img src="/images/governmental.png" alt="apple" />
                                    </span>
                                    <md-button class="md-fab footertrash" aria-label="Trash">
                                          <md-icon md-svg-src="/images/trash.svg"></md-icon>
                                    </md-button>
                                    <button class="btnDefault" type='button' ng-click='addphoto()'>{{'ADD_ICON' | translate}}</button>
                              </div>
                        </div>
                        <textarea placeholder="{{'INFLUENCING' | translate}}" ng-model="editedOrganizationCategory.influencing"></textarea>
                        <textarea placeholder="{{'INFLUENCED_BY' | translate}}" ng-model="editedOrganizationCategory.influencedBy"></textarea>
                  </div>
            </div>
            <p class="saveBlock">
                <button class="btnCancel" id="toggleFilterCatEdit" ng-click="closeEditor()" type='button'>{{'CANCEL' | translate}}</button>
                <button class="btnSave" id="toggleFilterCatEdit" ng-click="saveEditor()" type='button'>{{'SAVE' | translate}}</button>
            </p>
      </div>
      <div class="categoriesResult">
            <div class="tableList">
                  <table class="table table-bordered table-striped">
                        <thead>
                              <tr>
                                    <th>
                                          <a class="tagcolor" href="#" ng-click="orderByField='nameField'; reverseSort = !reverseSort">
                                                {{'NAME' | translate}} <span ng-show="orderByField == 'nameField'"><span ng-show="reverseSort"><md-icon md-svg-src="/images/up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="!reverseSort"><md-icon md-svg-src="/images/arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#" ng-click="orderByField='influencingField'; reverseSort = !reverseSort">
                                                {{'INFLUENCING' | translate}} <span ng-show="orderByField == 'influencingField'"><span ng-show="reverseSort"><md-icon md-svg-src="/images/up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="!reverseSort"><md-icon md-svg-src="/images/arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#" ng-click="orderByField='influencedField'; reverseSort = !reverseSort">
                                                {{'INFLUENCED_BY' | translate}} <span ng-show="orderByField == 'influencedField'"><span ng-show="reverseSort"><md-icon md-svg-src="/images/up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="!reverseSort"><md-icon md-svg-src="/images/arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#" ng-click="orderByField='companyField'; reverseSort = !reverseSort">
                                                {{'COMPANY' | translate}} <span ng-show="orderByField == 'companyField'"><span ng-show="reverseSort"><md-icon md-svg-src="/images/up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="!reverseSort"><md-icon md-svg-src="/images/arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#" ng-click="orderByField='categoryField'; reverseSort = !reverseSort">
                                                {{'CATEGORY' | translate}} <span ng-show="orderByField == 'categoryField'"><span ng-show="reverseSort"><md-icon md-svg-src="/images/up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="!reverseSort"><md-icon md-svg-src="/images/arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#">
                                               {{'OPTIONS' | translate}} 
                                          </a>
                                    </th>
                              </tr>
                        </thead>
                        <tbody ng-scrollbars ng-scrollbars-config="config">
                              <tr ng-repeat="organizationCategory in organizationCategories|orderBy:orderByField:reverseSort">
                                    <td>{{ organizationCategory.name }}</td>
                                    <td>{{ organizationCategory.influencing }}</td>
                                    <td>{{ organizationCategory.influencedBy }}</td>
                                    <td><span class="brand"><img src="{{ organizationCategory.iconUrl }}" /></span> <span class="companyname">{{ organizationCategory.companyName }}</span></td>
                                    <td><img src="{{ cat.iconUrl }}" /></td>
                                    <td>
                                          <md-button class="md-fab footertrash" aria-label="Trash" ng-click="removeOrganizationCategory(organizationCategory.id)">
                                                <md-icon md-svg-src="/images/trash.svg"></md-icon>
                                          </md-button>
                                          <md-button id="toggleFilterCatEdit" ng-click="editOrganizationCategory(organizationCategory.id)" class="md-fab footerpen" aria-label="Pen">
                                                <md-icon md-svg-src="/images/pen.svg"></md-icon>
                                          </md-button>
                                    </td>
                              </tr>
                        </tbody>
                  </table>
            </div>
      </div>
</div>
