<div class="dashboardContent manager" ng-controller="managersController" ng-cloak>
    <div class="sidebarDashboard" ng-controller="sidebarManager">
        <h1>APPROACHING DEADLINE TASKS</h1>
        <div class="latestActivities" ng-scrollbars ng-scrollbars-config="config">
            <ul class="listActivities" ng-repeat="task in deadline">
                <li class="oneLevel {{ task.deadlinestatus }}">
                    <div class="icon-activities">
                        <h1>{{ task.taskid }}</h1>
                    </div>
                    <ul class="dashedUl">
                        <li>
                            <h3>{{ task.title }}</h3>
                        </li>
                        <li>{{ task.optionone }}</li>
                        <li>{{ task.optiontwo }}</li>
                        <li>{{ task.optionthree }}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="contentDashboard">
        <h1>CATEGORIES OF ORGANIZATIONS OLD</h1>
        <div id="nav-show" ng-controller="filterController">
            <a class="filterTabOne current_page_item" href="">this year</a>
            <a class="filterTabTwo" href="#">this quarter</a>
            <a class="filterTabThree" href="#">this month</a>
            <a class="filterTabFour" href="#">this week</a>
            <div id="magic-line"></div>
        </div>

        <div class="fabButtonDial" ng-controller="dialController as dialPlus" ng-cloak>
            <md-fab-speed-dial md-open="dialPlus.isOpen" md-direction="{{dialPlus.selectedDirection}}" ng-class="dialPlus.selectedMode">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab add">
                        <md-icon md-svg-src="{{pathImage}}add.svg"></md-icon>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                      <span class="toggleActiv">
                           <md-button id="toggleFilterActvActiv" ng-click="toggleFilterActvActiv();$event.stopPropagation();" aria-label="Create Activities" class="md-fab md-raised md-mini green">
                                 <md-icon md-svg-src="{{pathImage}}edit-document.svg" aria-label="Icon Activities"></md-icon>
                           </md-button>
                           <span class="ng-tooltip-bt">New Activities</span>
                     </span>
                     <span class="toggleTask">
                           <md-button id="toggleFilterActvTask" ng-click="toggleFilterActvTask();$event.stopPropagation();" aria-label="Create Task" class="md-fab md-raised md-mini cyan">
                                 <md-icon md-svg-src="{{pathImage}}create-task.svg" aria-label="Icon Task"></md-icon>
                           </md-button>
                           <span class="ng-tooltip-bt">New Task</span>
                     </span>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>

        <div ng-include src="'partials/taskForm.html'"></div>
        <div ng-include src="'partials/activityForm.html'"></div>

        <div class="clearSeparate"></div>
        <div class="activitiesResult" ng-controller="categoriesOrganizations">
            <div class="contentList" ng-scrollbars ng-scrollbars-config="config">
                <ul class="listResult" ng-repeat="entities in organizations">
                    <li>
                        <h3 class="title">
                            {{ entities.categorie }}
                        </h3>
                        <div class="statsResult">
                            <div class="imageEntitie">
                                <img src="{{pathImage}}{{ entities.categoryimage }}.png" />
                            </div>
                            <div class="leftEntity">
                                <p><span class="color red"></span>Tasks Comp: <strong>{{ entities.taskcomp }}%</strong></p>
                                <p><span class="color green"></span>Activities: <strong>{{ entities.activities }}</p>
                                <p><span class="color blue"></span>Tasks Comp: <strong>{{ entities.taskcomp }}%</strong></p>
                            </div>
                        </div>
                        <div class="legend">
                            <p><span class="ng-tooltip">Lorem Ipsum</span><img src="{{pathImage}}influency.png" /> Influencing</p>
                            <p><span class="ng-tooltip">Lorem Ipsum</span><img src="{{pathImage}}influencyby.png" /> Influencing by</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
