<ul class="navMenu">
      <li ng-class="{active: activetab=='/'}"><a class="home" href="home">{{'HOME' | translate}}</a></li>
      <li ng-class="{active: activetab=='/ceo-dashboard'}"><a href="ceo-dashboard">{{'CEO_DASHBOARD' | translate}}</a></li>
      <li ng-class="{active: activetab=='/managers-dashboard'}"><a href="managers-dashboard">{{'MANAGERS_DASHBOARD' | translate}}</a></li>
      <li ng-class="{active: activetab=='/tasks'}"><a href="tasks">{{'TASKS' | translate}}</a></li>
      <li ng-class="{active: activetab=='/activities'}"><a href="activities">{{'ACTIVITIES' | translate}}</a></li>
      <li ng-class="{active: activetab=='/organizations'}"><a href="organizations">{{'ORGANIZATIONS' | translate}}</a></li>
      <li ng-class="{active: activetab=='/contacts'}"><a href="contacts">{{'CONTACTS' | translate}}</a></li>
</ul>
