<div class="dashboardContent organizations" ng-controller="organizationsController" ng-cloak>
      <h1>ORGANIZATIONS</h1>
    <div class="fabButtonDial" ng-controller="dialController as dialPlus" ng-cloak>
        <md-fab-speed-dial md-open="dialPlus.isOpen" md-direction="{{dialPlus.selectedDirection}}" ng-class="dialPlus.selectedMode">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab add">
                    <md-icon md-svg-src="{{pathImage}}add.svg"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                  <span class="toggleActiv">
                        <md-button id="toggleFilterActvActiv" ng-click="toggleFilterActvActiv();$event.stopPropagation();" aria-label="Create Activities" class="md-fab md-raised md-mini green">
                             <md-icon md-svg-src="{{pathImage}}edit-document.svg" aria-label="Icon Activities"></md-icon>
                        </md-button>
                        <span class="ng-tooltip-bt">New Activities</span>
                  </span>
                  <span class="toggleTask">
                        <md-button id="toggleFilterActvTask" ng-click="toggleFilterActvTask();$event.stopPropagation();" aria-label="Create Task" class="md-fab md-raised md-mini cyan">
                             <md-icon md-svg-src="{{pathImage}}create-task.svg" aria-label="Icon Task"></md-icon>
                        </md-button>
                        <span class="ng-tooltip-bt">New Task</span>
                  </span>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
      <div class="blockFilters">
            <md-input-container class="table-gallery">
                  <span>Gallery</span>
                  <md-switch class="md-primary" name="switchView" aria-label="switchView" ng-model="switchView" required></md-switch>
                  <span>Table</span>
            </md-input-container>
            <div class="categoryList" ng-controller="dropdownController">
                  <div dropdown-select="ddSelectOptionsCat" dropdown-model="ddSelectSelectedCat" dropdown-item-label="text"></div>
            </div>
            <form class="formSearch">
                  <div class="form-group">
                        <div class="input-group">
                              <input type="text" class="form-control" ng-model="search">
                              <md-icon md-svg-src="{{pathImage}}magnify.svg"></md-icon>
                        </div>
                  </div>
            </form>
      </div>

    <div ng-include src="'partials/taskForm.html'"></div>
    <div ng-include src="'partials/activityForm.html'"></div>

    <div class="editorPanel" ng-hide="toggleOrgEdit">
        <span class="closeModal" id="toggleFilterOrgEdit" ng-click="toggleFilterOrgEdit()"><md-icon class="closeIcon" md-svg-src="{{pathImage}}close.svg"></md-icon></span>

            <div class="colLeft">
                  <div class="formEditor">
                        <input type="text" placeholder="Name" />
                        <div class="statusList one" ng-controller="dropdownController">
                              <div dropdown-select="ddSelectOptionsCat" dropdown-model="ddSelectSelectedCat" dropdown-item-label="text"></div>
                        </div>
                        <div class="statusList" ng-controller="dropdownController">
                              <div dropdown-select="ddSelectOptionsType" dropdown-model="ddSelectSelectedType" dropdown-item-label="text"></div>
                        </div>
                        <div class="statusList" ng-controller="dropdownController">
                              <div dropdown-select="ddSelectOptionsContact" dropdown-model="ddSelectSelectedContact" dropdown-item-label="text"></div>
                        </div>
                        <textarea placeholder="Influencing"></textarea>
                        <textarea placeholder="Influenced by"></textarea>
                  </div>
            </div>
            <p class="saveBlock">
                  <button class="btnCancel" id="toggleFilterOrgEdit" ng-click="toggleFilterOrgEdit()" type='button'>CANCEL</button>
                  <button class="btnSave" type='button' ng-click="toggleFilterOrgEdit();showAlert($event);">SAVE</button>
            </p>
      </div>
      <div class="organizationsResult" ng-controller="organizationsResult">
            <div class="contentList" ng-scrollbars ng-scrollbars-config="config" ng-hide="switchView">
                  <ul class="listResult" ng-repeat="organization in data.organizations">
                        <li>
                              <h3 class="title">
                                    {{ organization.title }}
                              </h3>
                              <div class="contact">
                                    <p><span>Category</span><strong>{{ organization.category }}</strong></p>
                                    <p><span>Type</span><strong>{{ organization.type }}</strong></p>
                                    <p><span>Ownership</span><strong>{{ organization.ownership }}</strong></p>
                              </div>
                              <div class="bottomFooter">
                                    <md-button class="md-fab footertrash" aria-label="Trash" ng-click="remover($event, $index);">
                                          <md-icon md-svg-src="{{pathImage}}trash.svg"></md-icon>
                                    </md-button>
                                    <md-button id="toggleFilterOrgEdit" ng-click="toggleFilterOrgEdit()" class="md-fab footerpen" aria-label="Pen">
                                          <md-icon md-svg-src="{{pathImage}}pen.svg"></md-icon>
                                    </md-button>
                              </div>
                        </li>
                  </ul>
            </div>
            <div class="tableList" ng-show="switchView">
                  <table class="table table-bordered table-striped">
                        <thead>
                              <tr>
                                    <th>
                                          <a class="tagcolor" href="#" ng-click="orderByField='nameField'; reverseSort = !reverseSort">
                                                Name <span ng-show="orderByField == 'nameField'"><span ng-show="!reverseSort"><md-icon md-svg-src="{{pathImage}}up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="reverseSort"><md-icon md-svg-src="{{pathImage}}arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#" ng-click="orderByField='categoryField'; reverseSort = !reverseSort">
                                                Category <span ng-show="orderByField == 'categoryField'"><span ng-show="!reverseSort"><md-icon md-svg-src="{{pathImage}}up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="reverseSort"><md-icon md-svg-src="{{pathImage}}arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#" ng-click="orderByField='typeField'; reverseSort = !reverseSort">
                                                Type <span ng-show="orderByField == 'typeField'"><span ng-show="!reverseSort"><md-icon md-svg-src="{{pathImage}}up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="reverseSort"><md-icon md-svg-src="{{pathImage}}arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#" ng-click="orderByField='ownerField'; reverseSort = !reverseSort">
                                                Ownership <span ng-show="orderByField == 'ownerField'"><span ng-show="!reverseSort"><md-icon md-svg-src="{{pathImage}}up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="reverseSort"><md-icon md-svg-src="{{pathImage}}arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#">
                                                Options
                                          </a>
                                    </th>
                              </tr>
                        </thead>
                        <tbody ng-scrollbars ng-scrollbars-config="config">
                              <tr ng-repeat="organization in data.organizations|orderBy:orderByField:reverseSort">
                                    <td>{{ organization.title }}</td>
                                    <td>{{ organization.category }}</td>
                                    <td>{{ organization.type }}</td>
                                    <td>{{ organization.ownership }}</td>
                                    <td>
                                          <md-button class="md-fab footertrash" aria-label="Trash" ng-click="remover($event, $index);">
                                                <md-icon md-svg-src="{{pathImage}}trash.svg"></md-icon>
                                          </md-button>
                                          <md-button id="toggleFilterOrgEdit" ng-click="toggleFilterOrgEdit()" class="md-fab footerpen" aria-label="Pen">
                                                <md-icon md-svg-src="{{pathImage}}pen.svg"></md-icon>
                                          </md-button>
                                    </td>
                              </tr>
                        </tbody>
                  </table>
            </div>
      </div>
</div>
