<div class="dashboardContent companies" ng-cloak>
      <h1>{{'COMPANIES' | translate}}</h1>

      <!--<div class="blockFilters">
            <form class="formSearch">
                  <div class="form-group">
                        <div class="input-group">
                              <input type="text" class="form-control" ng-model="search">
                              <md-icon md-svg-src="{{pathImage}}magnify.svg"></md-icon>
                        </div>
                  </div>
            </form>

            <div class="fabButtonDial" ng-controller="dialController as dialPlus" ng-cloak>
                <md-fab-speed-dial md-open="dialPlus.isOpen" md-direction="{{dialPlus.selectedDirection}}" ng-class="dialPlus.selectedMode">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab add">
                            <md-icon md-svg-src="{{pathImage}}add.svg"></md-icon>
                        </md-button>
                    </md-fab-trigger>

                    <md-fab-actions>
                          <span class="toggleActiv">
                                <md-button id="toggleFilterActvActiv" ng-click="toggleFilterActvActiv();$event.stopPropagation();" aria-label="{{'CREATE_ACTIVITIES' | translate}}" class="md-fab md-raised md-mini green">
                                      <md-icon md-svg-src="{{pathImage}}edit-document.svg" aria-label="Icon Activities"></md-icon>
                                </md-button>
                                <span class="ng-tooltip-bt">{{'NEW_ACTIVITIES' | translate}}</span>
                          </span>
                          <span class="toggleTask">
                                <md-button id="toggleFilterActvTask" ng-click="toggleFilterActvTask();$event.stopPropagation();" aria-label="{{'CREATE_TASK' | translate}}" class="md-fab md-raised md-mini cyan">
                                      <md-icon md-svg-src="{{pathImage}}create-task.svg" aria-label="Icon Task"></md-icon>
                                </md-button>
                                <span class="ng-tooltip-bt">{{'NEW_TASK' | translate}}</span>
                          </span>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
      </div>

      <div ng-include src="'partials/taskForm.html'"></div>
      <div ng-include src="'partials/activityForm.html'"></div>-->

      <div class="editorPanel" ng-show="editedCompany != null">
          <span class="closeModal" ng-click="closeEditor()"><md-icon class="closeIcon" md-svg-src="/images/close.svg"></md-icon></span>
            <div class="colLeft" style="height: 460px;">
                  <div class="formEditor" ng-scrollbars ng-scrollbars-config="config" style="max-height:440px;">
                        <input type="text" placeholder="{{'NAME' | translate}}" ng-model="editedCompany.name"/>
                        <input type="text" placeholder="{{'COMPANY_CODE' | translate}}" ng-model="editedCompany.companyCode"/>
                        <input type="text" placeholder="{{'ADDRESS' | translate}}" ng-model="editedCompany.address"/>
                        <input type="text" placeholder="{{'CITY' | translate}}" ng-model="editedCompany.city"/>
                        <input type="text" placeholder="{{'PHONE' | translate}}" ng-model="editedCompany.phone"/>
                        <input type="text" placeholder="{{'EMAIL' | translate}}" ng-model="editedCompany.email"/>
                        <div class="photoBrands">
                              <h3>{{'LOGO' | translate}}</h3>
                              <div class="photo">
                                    <span class="brandImage">
                                          <img src="/images/apple.png" alt="apple" />
                                    </span>
                                    <md-button class="md-fab footertrash" aria-label="Trash">
                                          <md-icon md-svg-src="/images/trash.svg"></md-icon>
                                    </md-button>
                                    <button class="btnDefault" type='button' ng-click='addphoto()'>{{'ADD_LOGO' | translate}}</button>
                              </div>
                        </div>
                        <textarea placeholder="{{'INFLUENCING' | translate}}"></textarea>
                        <textarea placeholder="{{'INFLUENCED_BY' | translate}}"></textarea>
                  </div>
            </div>
            <p class="saveBlock">
                <button class="btnCancel" id="toggleFilterCompEdit" ng-click="closeEditor()" type='button'>{{'CANCEL' | translate}}</button>
                <button class="btnSave" type='button' ng-click="saveEditor()">{{'SAVE' | translate}}</button>
            </p>
      </div>
      <div class="companiesResult">
            <div class="contentList" ng-scrollbars ng-scrollbars-config="config">
                  <ul class="listResult" ng-repeat="company in companies">
                        <li>
                              <h3 class="title">
                                    {{ company.name }}
                              </h3>
                              <div class="contact">
                                    <a href="#"><img src="{{ company.logoUrl }}" alt="{{ company.name }}" /></a>
                              </div>
                              <div class="bottomFooter">
                                    <md-button class="md-fab footertrash" aria-label="Trash" ng-click="removeCompany($event, company.id);">
                                          <md-icon md-svg-src="/images/trash.svg"></md-icon>
                                    </md-button>
                                  <md-button id="toggleFilterCompEdit" ng-click="editCompany(company.id)" class="md-fab footerpen" aria-label="Pen">
                                      <md-icon md-svg-src="/images/pen.svg"></md-icon>
                                  </md-button>
                              </div>
                        </li>
                  </ul>
            </div>
      </div>
</div>
