<div class="editorPanelCreateTask" ng-if="$ctrl.task != null">
    <h2>{{'NEW_TASK' | translate}}</h2><span style="top:-30px;" class="closeModal" id="toggleFilterActvTask" ng-click="$ctrl.close()"><md-icon class="closeIcon" md-svg-src="{{pathImage}}close.svg"></md-icon></span>
    <div class="colLeft">
        <div class="formEditor">
            <input type="text" placeholder="{{'SUBJECT' | translate}}" ng-model="$ctrl.task.subject" />
            <textarea placeholder="{{'DESCRIPTION' | translate}}" ng-model="$ctrl.task.description" />
            <div class="statusList">
                <h3>{{'STATUS' | translate}}</h3>
                <div dropdown-select dropdown-url="/api/ActivityTaskStatuses" dropdown-value="$ctrl.task.statusId" dropdown-item-label="name"></div>
            </div>
            <div class="statusList">
                <h3>{{'GOAL' | translate}}</h3>
                <div dropdown-select dropdown-url="/api/Goals" dropdown-value="$ctrl.task.goalId" dropdown-item-label="title"></div>
            </div>
            <div class="relatedOrganizations">
                <h3>{{'RELATED_ORGANIZATIONS' | translate}}</h3>
                <md-chips-select ng-model="$ctrl.selectedOrganizations" select-items="$ctrl.organizations" main-title="name"></md-chips-select>
            </div>
            <div class="relatedContacts">
                <h3>{{'RELATED_CONTACTS' | translate}}</h3>
                <md-chips-select ng-model="$ctrl.selectedContacts" select-items="$ctrl.contacts" main-title="displayName"></md-chips-select>
            </div>
        </div>
    </div>
    <div class="colRight">
        <p class="highChk">
            {{'HIGH_IMPORTANCE' | translate}}
            <md-checkbox ng-model="$ctrl.task.isImportant" aria-label="Checkbox 1"></md-checkbox>
        </p>
        <div class="dateField">
            <md-datepicker ng-model="$ctrl.task.dateDeadline" md-placeholder="{{'DEADLINE' | translate}}"></md-datepicker>
        </div>
        <div class="dateField">
            <md-datepicker ng-model="$ctrl.task.dateEnd" md-placeholder="{{'COMPLETE_DATE' | translate}}"></md-datepicker>
        </div>
        <div class="statusList">
            {{'OWNER' | translate}}
            <div dropdown-select dropdown-url="/api/ApplicationUsers" dropdown-value="$ctrl.task.assignToId" dropdown-item-label="name"></div>
        </div>
        <!--<div class="attached" ng-controller="fileControllerTask">
            <div class="fileinput" id="attachedTask">
                <h3>{{'ATTACH_DOCUMENT' | translate}}</h3>
                <input type="file" name="file[]" id="file" class="inputfile inputfileTask" data-multiple-caption="{count} files selected" multiple />
                <label for="file">
                    <span class="labelValTask"></span>
                    <strong>{{'ATTACH' | translate}}</strong>
                </label>
            </div>
            <div class="itemAttached">
                <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
            </div>
            <div class="itemAttached">
                <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs-new.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
            </div>
        </div>-->
    </div>
    <div class="saveBlock">
        <span>{{'CREATION_DATE' | translate}}: {{$ctrl.dateCreated}}</span>
        <button class="btnCancel" id="toggleFilterActvTask" ng-click="$ctrl.close()" type='button'>{{'CANCEL' | translate}}</button>
        <button class="btnSave" type='button' ng-click="$ctrl.save()">{{'SAVE' | translate}}</button>
    </div>
</div>
