<div class="editorPanelCreateTask" ng-show="$ctrl.task != null">
    <h2>{{'NEW_TASK' | translate}}</h2><span style="top:-30px;" class="closeModal" id="toggleFilterActvTask" ng-click="toggleFilterActvTask();"><md-icon class="closeIcon" md-svg-src="{{pathImage}}close.svg"></md-icon></span>
    <div class="colLeft">
        <div class="formEditor">
            <input type="text" placeholder="{{'SUBJECT' | translate}}" ng-model="task.title" />
            <textarea placeholder="{{'DESCRIPTION' | translate}}" ng-model="task.content"></textarea>
            <!--<div class="statusList" ng-controller="dropdownController">
                <div dropdown-select="ddSelectOptionsStatus" dropdown-model="ddSelectSelectedStatus" dropdown-item-label="text"></div>
            </div>-->
        </div>
        <!--<div class="relatedOrganizations" ng-controller="chipsSelector">
            <h3>{{'RELATED_ORGANIZATIONS' | translate}}</h3>
            <md-chips-select ng-model="selectedOrganizations" select-items="organizationsList" main-title="organization"></md-chips-select>
        </div>
        <div class="relatedContacts" ng-controller="chipsSelector">
            <h3>{{'RELATED_CONTACTS' | translate}}</h3>
            <md-chips-select ng-model="selectedContacts" select-items="contactsList" main-title="contact"></md-chips-select>
        </div>
        <div class="statusList" ng-controller="dropdownController">
            <div dropdown-select="ddSelectOptionsContact" dropdown-model="ddSelectSelectedContact" dropdown-item-label="text"></div>
        </div>-->
    </div>
    <div class="colRight">
        <!--<p class="highChk">
            {{'HIGH_IMPORTANCE' | translate}}
            <md-checkbox ng-model="task.highimportant" aria-label="Checkbox 1"></md-checkbox>
        </p>
        <div class="dateField" ng-controller="dateController">
            <md-datepicker ng-model="task.deadline" md-placeholder="{{'DEADLINE' | translate}}"></md-datepicker>
        </div>
        <div class="dateField" ng-controller="dateController">
            <md-datepicker ng-model="myComplete" md-placeholder="{{'COMPLETE_DATE' | translate}}"></md-datepicker>
        </div>
        <div class="relatedContacts" ng-controller="chipsSelector">
            <h3>{{'TODO' | translate}}Involved</h3>
            <md-chips-select ng-model="selectedContacts" select-items="contactsList" main-title="contact"></md-chips-select>
        </div>
        <div class="statusList" ng-controller="dropdownController">
            <div dropdown-select="ddSelectOptionsAssign" dropdown-model="ddSelectSelectedAssign" dropdown-item-label="text"></div>
        </div>
        <div class="attached" ng-controller="fileControllerTask">
            <div class="fileinput" id="attachedTask">
                <h3>{{'ATTACH_DOCUMENT' | translate}}</h3>
                <input type="file" name="file[]" id="file" class="inputfile inputfileTask" data-multiple-caption="{count} files selected" multiple />
                <label for="file">
                    <span class="labelValTask"></span>
                    <strong>{{'ATTACH' | translate}}</strong>
                </label>
            </div>
            <div class="itemAttached">
                <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
            </div>
            <div class="itemAttached">
                <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs-new.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
            </div>
        </div>-->
    </div>
    <div class="saveBlock">
        <!--<span>{{'CREATION_DATE' | translate}}: 02/02/2017</span>-->
        <button class="btnCancel" id="toggleFilterActvTask" ng-click="$ctrl.close()" type='button'>{{'CANCEL' | translate}}</button>
        <button class="btnSave" type='button' ng-click="$ctrl.save()">{{'SAVE' | translate}}</button>
    </div>
</div>