<div class="dashboardContent tasks" ng-cloak>
    <h1>{{'TASKS' | translate}}</h1>
    <time-filter time-filter-period="period" time-filter-period-changed="periodChanged(period)"></time-filter>
    <dial-control></dial-control>
    <filter>
        <div class="statusList one">
            {{'CATEGORY' | translate}}
            <div dropdown-select dropdown-url="/api/OrganizationCategories" dropdown-value="categoryId" dropdown-item-label="name" dropdown-valuechanged="categoryChanged(value)"></div>
        </div>
        <div class="statusList one">
            {{'ORGANIZATION' | translate}}
            <div dropdown-select dropdown-url="/api/Organizations" dropdown-value="organizationId" dropdown-item-label="name" dropdown-valuechanged="organizationChanged(value)"></div>
        </div>
        <div class="statusList one">
            {{'CONTACT' | translate}}
            <div dropdown-select dropdown-url="/api/Contacts" dropdown-value="contactId" dropdown-item-label="displayName" dropdown-valuechanged="contactChanged(value)"></div>
        </div>
    </filter>
    <activity-form></activity-form>
    <task-form></task-form>
    <div class="editorPanel" ng-show="editedTask != null">
        <span class="closeModal" id="toggleFilterTasksEdit" ng-click="closeEditor()"><md-icon class="closeIcon" md-svg-src="/images/close.svg"></md-icon></span>
        <div class="colLeft">
            <div class="formEditor">
                <input type="text" placeholder="{{'SUBJECT' | translate}}" ng-model="editedTask.subject" />
                <textarea placeholder="{{'DESCRIPTION' | translate}}" ng-model="editedTask.description" />
                <div class="statusList">
                    <h3>{{'STATUS' | translate}}</h3>
                    <div dropdown-select dropdown-url="/api/ActivityTaskStatuses" dropdown-value="editedTask.statusId" dropdown-item-label="name" dropdown-valuechanged="editTaskStatusChanged(value)"></div>
                </div>
                <div class="statusList">
                    <h3>{{'GOAL' | translate}}</h3>
                    <div dropdown-select dropdown-url="/api/Goals" dropdown-value="editedTask.goalId" dropdown-item-label="title" dropdown-valuechanged="editTaskGoalChanged(value)"></div>
                </div>
                <div class="relatedOrganizations">
                    <h3>{{'RELATED_ORGANIZATIONS' | translate}}</h3>
                    <md-chips-select ng-model="editedTaskSelectedOrganizations" select-items="editedTaskOrganizations" main-title="name"></md-chips-select>
                </div>
                <div class="relatedContacts">
                    <h3>{{'RELATED_CONTACTS' | translate}}</h3>
                    <md-chips-select ng-model="editedTaskSelectedContacts" select-items="editedTaskContacts" main-title="displayName"></md-chips-select>
                </div>
            </div>
        </div>
        <div class="colRight">
            <p class="highChk">
                {{'HIGH_IMPORTANCE' | translate}}
                <md-checkbox ng-model="editedTask.isImportant" aria-label="Checkbox 1"></md-checkbox>
            </p>
            <div class="dateField">
                <md-datepicker ng-model="dateDeadlineDate" md-placeholder="{{'DEADLINE' | translate}}"></md-datepicker>
            </div>
            <div class="dateField">
                <md-datepicker ng-model="dateEndDate" md-placeholder="{{'COMPLETE_DATE' | translate}}"></md-datepicker>
            </div>
            <div class="statusList">
                {{'OWNER' | translate}}
                <div dropdown-select dropdown-url="/api/ApplicationUsers" dropdown-value="editedTask.assignToId" dropdown-item-label="name"  dropdown-valuechanged="editTaskUserChanged(value)"></div>
            </div>
            <!--<div class="attached" ng-controller="fileControllerTask">
            <div class="fileinput" id="attachedTask">
                <h3>{{'ATTACH_DOCUMENT' | translate}}</h3>
                <input type="file" name="file[]" id="file" class="inputfile inputfileTask" data-multiple-caption="{count} files selected" multiple />
                <label for="file">
                    <span class="labelValTask"></span>
                    <strong>{{'ATTACH' | translate}}</strong>
                </label>
            </div>
            <div class="itemAttached">
                <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
            </div>
            <div class="itemAttached">
                <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs-new.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
            </div>
        </div>-->
        </div>
        <div class="saveBlock">
            <span>{{'CREATION_DATE' | translate}}: {{editedTask.dateCreated}}</span>
            <button class="btnCancel" id="toggleFilterActvTask" ng-click="closeEditor()" type='button'>{{'CANCEL' | translate}}</button>
            <button class="btnSave" type='button' ng-click="saveEditor()">{{'SAVE' | translate}}</button>
        </div>
    </div>

    <div class="tasksResult">
        <div class="contentList" ng-scrollbars ng-scrollbars-config="config">
            <ul class="listResult" ng-repeat="task in tasks">
                <li>
                    <h3 class="title">
                        {{ task.subject }}
                    </h3>
                    <p class="content">
                        {{ task.description }}
                    </p>
                    <p class="related">
                        <span>{{'RELATED_TO_GOAL' | translate}}: </span><strong>{{ task.goalTitle }}</strong>
                    </p>
                    <md-button ng-class="{'Awaiting': task.statusAlias=='Awaiting', 'In Process': task.statusAlias=='InProcess', 'On Hold': task.statusAlias=='OnHold', 'Done': task.statusAlias=='Done' }" aria-label="Status" ng-disabled="true">
                        {{ task.statusName }}
                    </md-button>
                    <div class="showRelated">
                        <div class="deadlinedate">
                            <p class="date">
                                <span>{{'DEADLINE' | translate}}:</span>
                                <strong>{{ task.dateDeadline }}</strong>
                            </p>
                            <p class="dateCreated">
                                <span>{{'DATE_CREATED' | translate}}: {{ task.dateCreated }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="rollBox" ng-scrollbars ng-scrollbars-config="config">
                        <div class="relatedActivies">
                            <div class="show">
                                <a ng-click="goRelated = !goRelated" href="#" class="accordionRelated">
                                    <span class="iconplus">
                                        <md-icon ng-hide="goRelated" md-svg-src="/images/add-black.svg"></md-icon>
                                        <md-icon ng-hide="!goRelated" md-svg-src="/images/minus-black.svg"></md-icon>
                                    </span>
                                    {{'SHOW_RELATED_ACTIVITIES' | translate}}
                                </a>
                                <md-button class="md-fab add" aria-label="Add"> <md-icon md-svg-src="/images/add.svg"></md-icon> </md-button>
                                <md-button class="md-fab clip" aria-label="Clip"> <md-icon md-svg-src="/images/paperclip.svg"></md-icon> </md-button>
                            </div>
                            <ul ng-show="goRelated" class="tasksActivities">
                                <li>
                                    <p><strong>{{ task.titlerelated }}</strong></p>
                                    <p><span>{{'DEADLINE' | translate}}: {{ task.dateDeadline }}</span></p>
                                </li>
                            </ul>
                        </div>
                        <div class="attached {{ task.attached }}">
                            <div class="itemAttached">
                                <md-icon class="clip" md-svg-src="/images/clip.svg"></md-icon> {{ task.fileone }} <a href="#"><md-icon class="close" md-svg-src="/images/close.svg"></md-icon></a>
                            </div>
                            <div class="itemAttached">
                                <md-icon class="clip" md-svg-src="/images/clip.svg"></md-icon> {{ task.filetwo }} <a href="#"><md-icon class="close" md-svg-src="/images/close.svg"></md-icon></a>
                            </div>
                        </div>
                    </div>
                    <div class="bottomFooter">
                        <md-button ng-click="removeTask(task.id)" class="md-fab footertrash" aria-label="{{'TRASH' | translate}}">
                            <md-icon md-svg-src="/images/trash.svg"></md-icon>
                        </md-button>
                        <md-button id="toggleFilterTasksEdit" ng-click="editTask(task.id)" aria-label="{{'EDIT_TASK' | translate}}" class="md-fab footerpen">
                            <md-icon md-svg-src="/images/pen.svg"></md-icon>
                        </md-button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
