<div class="dashboardContent manager" ng-cloak>
    <div class="sidebarDashboard" >
        <h1>{{'APPROACHING_DEADLINE_TASKS' | translate}}</h1>
        <div class="latestActivities" ng-scrollbars ng-scrollbars-config="config">
            <ul class="listActivities" ng-repeat="task in tasksDeadline">
                <li class="oneLevel" ng-class="{'blue': task.statusAlias=='Awaiting', 'orange': task.statusAlias=='InProcess', 'red': task.statusAlias=='OnHold', 'green': task.statusAlias=='Done' }">
                    <div class="icon-activities">
                        <h1>{{ $index }}</h1>
                    </div>
                    <ul class="dashedUl">
                        <li>
                            <h3>{{ task.subject }}</h3>
                        </li>
                        <li>{{ task.description }}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="contentDashboard">
        <h1>{{'CATEGORIES_OF_ORGANIZATIONS' | translate}}</h1>
        <time-filter time-filter-period="period" time-filter-period-changed="periodChanged(period)"></time-filter>
        <dial-control></dial-control>
        <activity-form></activity-form>
        <task-form></task-form>
        <div class="clearSeparate"></div>
        <div class="activitiesResult">
            <div class="contentList" ng-scrollbars ng-scrollbars-config="config">
                <ul class="listResult" ng-repeat="category in categories">
                    <li>
                        <h3 class="title">
                            {{ category.name }}
                        </h3>
                        <div class="statsResult">
                            <div class="imageEntitie">
                                <img src="{{category.iconUrl}}" />
                            </div>
                            <div class="leftEntity">
                                <p><span class="color red"></span>{{'TASKS_LOW' | translate}}: <strong>{{ category.tasksNumber }}</strong></p>
                                <p><span class="color green"></span>{{'TASKS_COMP' | translate}}: <strong>{{ category.tasksCompletedPercentage | number:0 }}%</strong></p>
                                <p><span class="color blue"></span>{{'ACTIVITIES_LOW' | translate}}: <strong>{{ category.activitiesNumber }}</strong></p>
                            </div>
                        </div>
                        <div class="legend">
                            <p><span class="ng-tooltip">{{category.influencing}}</span><img src="{{pathImage}}influency.png" /> {{'INFLUENCING' | translate}}</p>
                            <p><span class="ng-tooltip">{{category.influencedBy}}</span><img src="{{pathImage}}influencyby.png" /> {{'INFLUENCED_BY' | translate}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
