<div class="editorPanelCreateActiv" ng-if="$ctrl.activity != null">
    <h2>{{'NEW_ACTIVITY' | translate}}</h2><span style="top:-30px;" class="closeModal" id="toggleFilterActvActiv" ng-click="$ctrl.close()"><md-icon class="closeIcon" md-svg-src="/images/close.svg"></md-icon></span>
    <div class="colLeft">
        <div class="formEditor">
            <input type="text" placeholder="{{'SUBJECT' | translate}}" ng-model="$ctrl.activity.subject" />
            <textarea placeholder="{{'DESCRIPTION' | translate}}" ng-model="$ctrl.activity.description" />
            <div class="statusList">
                <h3>{{'TYPE' | translate}}</h3>
                <div dropdown-select dropdown-url="/api/ActivityTypes" dropdown-value="$ctrl.activity.typeId" dropdown-item-label="name"></div>
            </div>
            <div class="statusList">
                <h3>{{'RELATED_TASK' | translate}}</h3>
                <div dropdown-select dropdown-url="/api/ActivityTasks"  dropdown-value="$ctrl.activity.taskId" dropdown-item-label="subject"></div>
            </div>
            <div class="statusList">
                <h3>{{'RELATED_USER' | translate}}</h3>
                <div dropdown-select dropdown-url="/api/ApplicationUsers"  dropdown-value="$ctrl.activity.userId" dropdown-item-label="name"></div>
            </div>
        </div>
    </div>
    <div class="colRight">
        <div class="statusList">
            <h3>{{'RELATED_CONTACT' | translate}}</h3>
            <div dropdown-select dropdown-url="/api/Contacts"  dropdown-value="$ctrl.activity.contactId" dropdown-item-label="displayName"></div>
        </div>
        <div class="relatedContacts">
            <h3>{{'OBSERVER_USERS' | translate}}</h3>
            <md-chips-select ng-model="$ctrl.selectedObserverUsers" select-items="$ctrl.users" main-title="title name"></md-chips-select>
        </div>
        <div class="dateField">
            <md-datepicker ng-model="$ctrl.activity.dateActivity" md-placeholder="{{'ACTIVITY_DATE' | translate}}"></md-datepicker>
        </div>
        <!--<div class="relatedContacts" ng-controller="chipsSelector">
            <h3>{{'SHARE_WITH' | translate}}</h3>
            <md-chips-select ng-model="selectedContacts" select-items="contactsList" main-title="contact"></md-chips-select>
        </div>
        <div class="dateField" ng-controller="dateController">
            <md-datepicker ng-model="activity.deadline" md-placeholder="Activity Date"></md-datepicker>
        </div>
        <div class="attached" ng-controller="fileControllerActiv">
            <div class="fileinput" id="attachedActiv">
                <h3>{{'ATTACH_DOCUMENT' | translate}}</h3>
                <input type="file" name="file[]" id="file" class="inputfile inputfileTask" data-multiple-caption="{count} files selected" multiple/>
                <label for="file">
                    <span class="labelValTask"></span>
                    <strong>{{'ATTACH' | translate}}Attach</strong>
                </label>
            </div>
            <div class="itemAttached">
                <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs.xml <a ><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
            </div>
            <div class="itemAttached">
                <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs-new.xml <a ><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
            </div>
        </div>-->
    </div>
    <div class="saveBlock">
        <span>{{'CREATION_DATE' | translate}}: {{$ctrl.dateCreated | date: 'shortDate'}}</span>
        <button class="btnCancel" id="toggleFilterActvActiv" ng-click="$ctrl.close()" type='button'>{{'CANCEL' | translate}}</button>
        <button class="btnSave" type='button' ng-click="$ctrl.save()">{{'SAVE' | translate}}</button>
    </div>
</div>