<div class="dashboardContent organizations" ng-cloak>
      <h1>{{'ORGANIZATIONS' | translate}}</h1>
    <dial-control></dial-control>
      <div class="blockFilters">
            <md-input-container class="table-gallery">
                  <span>{{'GALLERY' | translate}}</span>
                  <md-switch class="md-primary" name="switchView" aria-label="switchView" ng-model="switchView" required></md-switch>
                  <span>{{'TABLE' | translate}}</span>
            </md-input-container>
            <div class="categoryList">
                  <div dropdown-select="ddSelectOptionsCat" dropdown-model="ddSelectSelectedCat" dropdown-item-label="text"></div>
            </div>
            <form class="formSearch">
                  <div class="form-group">
                        <div class="input-group">
                              <input type="text" class="form-control" ng-model="search">
                              <md-icon md-svg-src="/images/magnify.svg"></md-icon>
                        </div>
                  </div>
            </form>
      </div>

    <activity-form/>
    <task-form />

    <div class="editorPanel" ng-show="editedOrganization != null">
        <span class="closeModal" id="toggleFilterOrgEdit" ng-click="closeEditor()"><md-icon class="closeIcon" md-svg-src="/images/close.svg"></md-icon></span>

            <div class="colLeft">
                  <div class="formEditor">
                        <input type="text" placeholder="{{'NAME' | translate}}" ng-model="editedOrganization.name"/>
                        <div class="statusList one">
                              <div dropdown-select="editedOrganizationCategories" dropdown-model="editedOrganization.category" dropdown-item-label="name"></div>
                        </div>
                        <div class="statusList">
                              <div dropdown-select="editedOrganizationTypes" dropdown-model="editedOrganization.type" dropdown-item-label="type"></div>
                        </div>
                        <div class="statusList">
                              <div dropdown-select="editedOrganizationUsers" dropdown-model="editedOrganization.user" dropdown-item-label="name"></div>
                        </div>
                        <textarea placeholder="{{'INFLUENCING' | translate}}" ng-model="editedOrganization.influencing"></textarea>
                        <textarea placeholder="{{'INFLUENCED_BY' | translate}}" ng-model="editedOrganization.influencedBy"></textarea>
                  </div>
            </div>
            <p class="saveBlock">
                  <button class="btnCancel" id="toggleFilterOrgEdit" ng-click="closeEditor()" type='button'>{{'CANCEL' | translate}}</button>
                  <button class="btnSave" type='button' ng-click="saveEditor()">{{'SAVE' | translate}}</button>
            </p>
      </div>
      <div class="organizationsResult">
            <div class="contentList" ng-scrollbars ng-scrollbars-config="config" ng-hide="switchView">
                  <ul class="listResult" ng-repeat="organization in organizations">
                        <li>
                              <h3 class="title">
                                    {{ organization.name }}
                              </h3>
                              <div class="contact">
                                    <p><span>{{'CATEGORY' | translate}}</span><strong>{{ organization.category.name }}</strong></p>
                                    <p><span>{{'TYPE' | translate}}</span><strong>{{ organization.type.type }}</strong></p>
                                    <p><span>{{'OWNERSHIP' | translate}}</span><strong>{{ organization.user.name }}</strong></p>
                              </div>
                              <div class="bottomFooter">
                                    <md-button class="md-fab footertrash" aria-label="Trash" ng-click="removeOrganization(organization.id)">
                                          <md-icon md-svg-src="/images/trash.svg"></md-icon>
                                    </md-button>
                                    <md-button id="toggleFilterOrgEdit" ng-click="editOrganization(organization.id)" class="md-fab footerpen" aria-label="Pen">
                                          <md-icon md-svg-src="/images/pen.svg"></md-icon>
                                    </md-button>
                              </div>
                        </li>
                  </ul>
            </div>
            <div class="tableList" ng-show="switchView">
                  <table class="table table-bordered table-striped">
                        <thead>
                              <tr>
                                    <th>
                                          <a class="tagcolor" href="#" ng-click="orderByField='nameField'; reverseSort = !reverseSort">
                                                {{'NAME' | translate}} <span ng-show="orderByField == 'nameField'"><span ng-show="!reverseSort"><md-icon md-svg-src="/images/up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="reverseSort"><md-icon md-svg-src="/images/arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#" ng-click="orderByField='categoryField'; reverseSort = !reverseSort">
                                                {{'CATEGORY' | translate}} <span ng-show="orderByField == 'categoryField'"><span ng-show="!reverseSort"><md-icon md-svg-src="/images/up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="reverseSort"><md-icon md-svg-src="/images/arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#" ng-click="orderByField='typeField'; reverseSort = !reverseSort">
                                                {{'TYPE' | translate}} <span ng-show="orderByField == 'typeField'"><span ng-show="!reverseSort"><md-icon md-svg-src="/images/up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="reverseSort"><md-icon md-svg-src="/images/arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#" ng-click="orderByField='ownerField'; reverseSort = !reverseSort">
                                                {{'OWNERSHIP' | translate}} <span ng-show="orderByField == 'ownerField'"><span ng-show="!reverseSort"><md-icon md-svg-src="/images/up-arrow-triangle-outline.svg"></md-icon></span><span ng-show="reverseSort"><md-icon md-svg-src="/images/arrow-down-filled-triangle.svg"></md-icon></span></span>
                                          </a>
                                    </th>
                                    <th>
                                          <a href="#">
                                                {{'OPTIONS' | translate}}
                                          </a>
                                    </th>
                              </tr>
                        </thead>
                        <tbody ng-scrollbars ng-scrollbars-config="config">
                              <tr ng-repeat="organization in organizations|orderBy:orderByField:reverseSort">
                                    <td>{{ organization.name }}</td>
                                    <td>{{ organization.category.name }}</td>
                                    <td>{{ organization.type.type }}</td>
                                    <td>{{ organization.user.name }}</td>
                                    <td>
                                          <md-button class="md-fab footertrash" aria-label="Trash" ng-click="removeOrganization(organization.id)">
                                                <md-icon md-svg-src="/images/trash.svg"></md-icon>
                                          </md-button>
                                          <md-button id="toggleFilterOrgEdit" ng-click="editOrganization(organization.id)" class="md-fab footerpen" aria-label="Pen">
                                                <md-icon md-svg-src="/images/pen.svg"></md-icon>
                                          </md-button>
                                    </td>
                              </tr>
                        </tbody>
                  </table>
            </div>
      </div>
</div>
