<div class="dashboardContent activities" ng-cloak>
    <h1>{{'ACTIVITIES' | translate}}</h1>
    <time-filter></time-filter>
    <dial-control></dial-control>
    <filter>
        <div class="statusList one">
            <div dropdown-select="ddSelectOptionsCat" dropdown-model="ddSelectSelectedCat" dropdown-item-label="text"></div>
        </div>
        <div class="statusList one">
            <div dropdown-select="ddSelectOptionsOrg" dropdown-model="ddSelectSelectedOrg" dropdown-item-label="text"></div>
        </div>
        <div class="statusList one">
            <div dropdown-select="ddSelectOptionsContact" dropdown-model="ddSelectSelectedContact" dropdown-item-label="text"></div>
        </div>
    </filter>
    <activity-form></activity-form>
    <task-form></task-form>
    <div class="editorPanel" ng-show="editedActivity != null">
        <span class="closeModal" ng-click="closeEditor()"><md-icon class="closeIcon" md-svg-src="/images/close.svg"></md-icon></span>
        <div class="colLeft">
            <div class="formEditor">
                <!--<div class="statusList one" ng-controller="dropdownController">
                    <div dropdown-select="ddSelectOptionsType" dropdown-model="ddSelectSelectedType" dropdown-item-label="text"></div>
                </div>-->
                <h3>{{'RELATED_TASK' | translate}}</h3>
                <p><a href="#">Lorem ipsum content link</a></p>
                <button class="btnDefault" type='button' ng-click='change()'>{{'CHANGE' | translate}}</button>
                <button class="btnDefault" type='button' ng-click='connect()'>{{'CONNECT_TO_TASK' | translate}}</button>

                <!--<div class="statusList" ng-controller="dropdownController">
                    <div dropdown-select="ddSelectOptionsContact" dropdown-model="ddSelectSelectedContact" dropdown-item-label="text"></div>
                </div>
                <div class="statusList" ng-controller="dropdownController">
                    <div dropdown-select="ddSelectOptionsDone" dropdown-model="ddSelectSelectedDone" dropdown-item-label="text"></div>
                </div>-->
                <input type="text" placeholder="{{'SUBJECT' | translate}}" ng-model="editedActivity.subject" />
                <textarea placeholder="{{'DESCRIPTION' | translate}}" ng-model="editedActivity.description"></textarea>
            </div>
        </div>
        <div class="colRight">
            <div class="relatedContacts"+>
                <h3>{{'SHARE_WITH' | translate}}</h3>
                <md-chips-select ng-model="selectedContacts" select-items="contactsList" main-title="contact"></md-chips-select>
            </div>
            <!--<div class="dateField" ng-controller="dateController">
                <md-datepicker ng-model="editedActivity.dateActivity" md-placeholder="{{'ACTIVITY_DATE' | translate}}"></md-datepicker>
            </div>-->
            <!--<div class="attached">
                <div class="fileinput">
                    <h3>{{'ATTACH_DOCUMENT' | translate}}</h3>
                    <label for="upload-photo">{{'BROWSE' | translate}}</label>
                    <input id="upload-photo" type='file' file-model='fileModel'>
                    <button class="btnFilepicker" type='button' ng-click='upload()'>{{'ATTACH' | translate}}</button>
                </div>
                <div class="itemAttached">
                    <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
                </div>
                <div class="itemAttached">
                    <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs-new.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
                </div>
            </div>-->
        </div>
        <div class="saveBlock">
            <strong>{{'CREATION_DATE' | translate}}: <span>{{activity.dateCreated}}</span></strong>
            <button class="btnCancel" ng-click="closeEditor()" type='button'>{{'CANCEL' | translate}}</button>
            <button class="btnSave" type='button' ng-click="saveEditor()">{{'SAVE' | translate}}</button>
        </div>
    </div>
    <div class="activitiesResult">
        <div class="contentList" ng-scrollbars ng-scrollbars-config="config">
            <ul class="listResult" ng-repeat="activity in activities">
                <li>
                    <h3 class="title">
                        {{ activity.subject }}
                    </h3>
                    <p class="subicons">
                        <md-button class="md-fab users" aria-label="Users">
                            <img src="/images/user/sara.png" />
                        </md-button>
                        <md-button class="md-fab call" aria-label="Call" ng-disabled="true">
                            <md-icon md-svg-src="/images/}phone-call.svg"></md-icon>
                        </md-button>
                        <md-button class="md-fab message" aria-label="Message" ng-disabled="true">
                            <md-icon md-svg-src="/images/envelope.svg"></md-icon>
                        </md-button>
                    </p>
                    <p class="content">
                        {{ activity.description }}
                    </p>
                    <div class="contact">
                        <p><span>{{'CONTACT' | translate}}</span><strong>{{ activity.userId }}</strong></p>
                        <p><span>{{'RELATED_TO_GOAL' | translate}}</span><strong>{{ activity.relatedToGoal }}</strong></p>
                        <p><span>{{'DATE_CREATED' | translate}}</span><strong>{{ activity.dateCreated }}</strong></p>
                    </div>
                    <div class="bottomFooter">
                        <md-button class="md-fab footertrash" aria-label="Trash" ng-click="removeActivity($event, activity.id)">
                            <md-icon md-svg-src="/images/trash.svg"></md-icon>
                        </md-button>
                        <md-button id="toggleFilterActvEdit" ng-click="editActivity(activity.id)" class="md-fab footerpen" aria-label="Pen">
                            <md-icon md-svg-src="/images/pen.svg"></md-icon>
                        </md-button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
