<div class="dashboardContent activities" ng-cloak>
    <h1>{{'ACTIVITIES' | translate}}</h1>
    <time-filter time-filter-period="period" time-filter-period-changed="refresh()"></time-filter>
    <dial-control></dial-control>
    <filter>
        <div class="statusList one">
            <div dropdown-select dropdown-url="/api/OrganizationCategories" dropdown-value="categoryId" dropdown-item-label="name" dropdown-onchange="refresh()"></div>
        </div>
        <div class="statusList one">
            <div dropdown-select dropdown-url="/api/Organizations" dropdown-value="organizationId" dropdown-item-label="name" dropdown-onchange="refresh()"></div>
        </div>
        <div class="statusList one">
            <div dropdown-select dropdown-url="/api/Contacts" dropdown-value="contactId" dropdown-item-label="displayName" dropdown-onchange="refresh()"></div>
        </div>
    </filter>
    <activity-form></activity-form>
    <task-form></task-form>
    <div class="editorPanel" ng-show="editedActivity != null">
        <span class="closeModal" ng-click="closeEditor()"><md-icon class="closeIcon" md-svg-src="/images/close.svg"></md-icon></span>
        <div class="colLeft">
            <div class="formEditor">
                <input type="text" placeholder="{{'SUBJECT' | translate}}" ng-model="editedActivity.subject" />
                <textarea placeholder="{{'DESCRIPTION' | translate}}" ng-model="editedActivity.description" />
                <div class="statusList">
                    <h3>{{'TYPE' | translate}}</h3>
                    <div dropdown-select dropdown-url="/api/ActivityTypes" dropdown-value="editedActivity.typeId" dropdown-item-label="name"></div>
                </div>
                <div class="statusList">
                    <h3>{{'RELATED_TASK' | translate}}</h3>
                    <div dropdown-select dropdown-url="/api/ActivityTasks" dropdown-value="editedActivity.taskId" dropdown-item-label="subject"></div>
                </div>
                <div class="statusList">
                    <h3>{{'RELATED_USER' | translate}}</h3>
                    <div dropdown-select dropdown-url="/api/ApplicationUsers" dropdown-value="editedActivity.userId" dropdown-item-label="name"></div>
                </div>
            </div>
        </div>
        <div class="colRight">
            <div class="statusList">
                <h3>{{'RELATED_COMPANY' | translate}}</h3>
                <div dropdown-select dropdown-url="/api/Companies" dropdown-value="editedActivity.companyId" dropdown-item-label="name"></div>
            </div>
            <div class="statusList">
                <h3>{{'RELATED_CONTACT' | translate}}</h3>
                <div dropdown-select dropdown-url="/api/Contacts" dropdown-value="editedActivity.contactId" dropdown-item-label="displayName"></div>
            </div>
            <div class="relatedOrganizations">
                <h3>{{'OBSERVER_COMPANIES' | translate}}</h3>
                <md-chips-select ng-model="selectedObserverCompanies" select-items="editedActivityCompanies" main-title="name"></md-chips-select>
            </div>
            <div class="relatedContacts">
                <h3>{{'OBSERVER_USERS' | translate}}</h3>
                <md-chips-select ng-model="selectedObserverUsers" select-items="editedActivityUsers" main-title="title name"></md-chips-select>
            </div>
            <div class="dateField">
                <md-datepicker ng-model="editedActivity.dateActivityDate" md-placeholder="{{'ACTIVITY_DATE' | translate}}"></md-datepicker>
            </div>
            <!--<div class="relatedContacts" ng-controller="chipsSelector">
            <h3>{{'SHARE_WITH' | translate}}</h3>
            <md-chips-select ng-model="selectedContacts" select-items="contactsList" main-title="contact"></md-chips-select>
        </div>
        <div class="dateField" ng-controller="dateController">
            <md-datepicker ng-model="activity.deadline" md-placeholder="Activity Date"></md-datepicker>
        </div>
        <div class="attached" ng-controller="fileControllerActiv">
            <div class="fileinput" id="attachedActiv">
                <h3>{{'ATTACH_DOCUMENT' | translate}}</h3>
                <input type="file" name="file[]" id="file" class="inputfile inputfileTask" data-multiple-caption="{count} files selected" multiple/>
                <label for="file">
                    <span class="labelValTask"></span>
                    <strong>{{'ATTACH' | translate}}Attach</strong>
                </label>
            </div>
            <div class="itemAttached">
                <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
            </div>
            <div class="itemAttached">
                <md-icon class="clip" md-svg-src="{{pathImage}}clip.svg"></md-icon> theme-docs-new.xml <a href="#"><md-icon class="close" md-svg-src="{{pathImage}}close.svg"></md-icon></a>
            </div>
        </div>-->
        </div>
        <div class="saveBlock">
            <span>{{'CREATION_DATE' | translate}}: {{editedActivity.dateCreated}}</span>
            <button class="btnCancel" id="toggleFilterActvActiv" ng-click="closeEditor()" type='button'>{{'CANCEL' | translate}}</button>
            <button class="btnSave" type='button' ng-click="saveEditor()">{{'SAVE' | translate}}</button>
        </div>
    </div>
    <div class="activitiesResult">
        <div class="contentList" ng-scrollbars ng-scrollbars-config="config">
            <ul class="listResult" ng-repeat="activity in activities">
                <li>
                    <h3 class="title">
                        {{ activity.subject }}
                    </h3>
                    <p class="subicons">
                        <md-button class="md-fab users" aria-label="Users">
                            <img src="/images/user/sara.png" />
                        </md-button>
                        <md-button class="md-fab call" aria-label="Call" ng-disabled="true">
                            <md-icon md-svg-src="/images/}phone-call.svg"></md-icon>
                        </md-button>
                        <md-button class="md-fab message" aria-label="Message" ng-disabled="true">
                            <md-icon md-svg-src="/images/envelope.svg"></md-icon>
                        </md-button>
                    </p>
                    <p class="content">
                        {{ activity.description }}
                    </p>
                    <div class="contact">
                        <p><span>{{'CONTACT' | translate}}</span><strong>{{ activity.userTitle }} {{ activity.userName }}</strong></p>
                        <p><span>{{'RELATED_TO_GOAL' | translate}}</span><strong>{{ activity.relatedToGoalTitle }}</strong></p>
                        <p><span>{{'DATE_CREATED' | translate}}</span><strong>{{ activity.dateCreated }}</strong></p>
                    </div>
                    <div class="bottomFooter">
                        <md-button class="md-fab footertrash" aria-label="Trash" ng-click="removeActivity($event, activity.id)">
                            <md-icon md-svg-src="/images/trash.svg"></md-icon>
                        </md-button>
                        <md-button id="toggleFilterActvEdit" ng-click="editActivity(activity.id)" class="md-fab footerpen" aria-label="Pen">
                            <md-icon md-svg-src="/images/pen.svg"></md-icon>
                        </md-button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
