<div class="dashboardContent ceo" ng-cloak>
    <div class="sidebarDashboard">
        <h1>{{'LATEST_ACTIVITIES' | translate}}</h1>
        <div class="latestActivities" ng-scrollbars ng-scrollbars-config="config">
            <ul class="listActivities" ng-repeat="activity in activities">
                <li class="oneLevel">
                    <div class="icon-activities">
                        <img src="/images/icon-hands.png" />
                    </div>
                    <ul class="dashedUl">
                        <li>
                            <h3>{{activity.subject}}</h3>
                        </li>
                        <li>{{ activity.description }}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="contentDashboard">
        <h1>{{'USERS' | translate}}</h1>
        <time-filter time-filter-period="period" time-filter-period-changed="periodChanged(period)"></time-filter>
        <dial-control/>
        <activity-form></activity-form>
        <task-form></task-form>
        <div class="clearSeparate"></div>
        <div class="activitiesResult">
            <div class="contentList" ng-scrollbars ng-scrollbars-config="config">
                <ul class="listResult" ng-repeat="user in users">
                    <li>
                        <h3 class="title">
                            <img class="imageUser" src="{{pathUser}}{{ user.userimage }}" />
                            <strong>{{ user.name }}</strong>
                            <span>{{ user.title }}</span>
                        </h3>
                        <div class="statsResult">
                            <p> {{user.roleName}}</p>
                            <p><span class="color green"></span>{{'TASKS_COMP' | translate}}: <strong>{{ user.tasksCompletedPercentage | number:0 }}%</strong></p>
                            <p><span class="color blue"></span>{{'ACTIVITIES_LOW' | translate}}: <strong>{{ user.activitiesNumber }}</strong></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
